extends layout.pug

block content
    section.firstSection
            h1 #{title}
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis officiis mollitia nisi corrupti nulla ducimus blanditiis sunt, obcaecati itaque ratione impedit nostrum adipisci accusamus distinctio possimus, eius voluptas dolorum aspernatur.

