html
    head 
        title The pug site
        style
            include ../public/assets/style.css
    body
        header
            ul
                li
                    a(class=(page === "index" ? "linkActive" : null) href='/') Home 
                li 
                    a(class=(page === "about" ? "linkActive" : null) href='/about') About
                li 
                    a(class=(page === "user" ? "linkActive" : null) href='/user') User
        block content
        block footer
            div.footer
                p Ting der står i en footer